.imgs {
  height: 200px;
  width: 200px;
}
.outline {
  border-radius: 6px;
  border-style: solid;
  border-width: 3px;
}

.flexcont {
  display: flex;
  flex-direction: row;
  width: 30%;
  border: 5px solid red;
  flex-wrap: wrap;
}
