
<div class="col-lg-4">
  <div class="outline">
   
        <mat-card>
          <mat-icon [ngStyle]="{'color':'red'}">favorite_border</mat-icon>&nbsp;&nbsp;
          <img mat-card-md-image src="{{image}}" class="imgs" alt="Recipe Image" />


          <mat-card-footer>
            <p>
              <b>{{id}}: {{title}}</b>
            </p>

            <a class="nav-link text-dark" [routerLink]="['/recipe-details/' + id]">Get Details</a>
             
          </mat-card-footer>
        </mat-card>
 
</div>
  </div>


