<div *ngIf="currentUser != null || currentUser != undefined">
  <h2 class="header">Welcome {{currentUser.firstName}}!</h2>
  <img src="assets/dish1.png" class="imgs">
  <br />
  <br />
  <h3>Name: {{currentUser.firstName}} {{currentUser.lastName}}</h3>
  <br />
  <h3>Email: {{currentUser.email}}</h3>
  <br />
  <h3>User ID: {{currentUser.userID}}</h3>
</div>

<br/>
<br />
<!--
<script>
  function toggle(update)
  {
    const element = document.getElementById(update);
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
</script> -->

<div>

  <br /><br />
  <button id="toggler" (click)="toggle()">Click Here to Update Profile</button>
  <br /><br />

  <div class="myForm">
  <form [class]="showForm" id="update" [formGroup]="updateUserForm" (ngSubmit)="updateUser(updateUserForm.value)" class="ui form">
    <!--<div class="field">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="email" formControlName="email" />
    </div> -->
    <div class="field">
      <label for="firstname">First Name:&nbsp;</label>
      <input type="text" id="firstName" placeholder="Your First Name" formControlName="firstName" />
    </div>
    <div class="field">
      <label for="lastname">Last Name:&nbsp;</label>
      <input type="text" id="lastName" placeholder="Your Last Name" formControlName="lastName" />
    </div>
    <div class="field">
      <label for="numberToFeedInput">Number of Servings:&nbsp;</label>
      <input type="text" id="numberToFeed" placeholder="Number of Servings" formControlName="numberToFeed" />
    </div>
    <button type="submit"  class="btn-primary">SUBMIT</button>
  </form>
</div>
</div>
