
<h1>Recipe Details</h1>

<h3>Title: {{loadedDetails.title}}</h3>
<p>
  <b>Ready in Minutes: </b> {{loadedDetails.readyInMinutes}} &nbsp;&nbsp;
  <b>Servings: </b>{{loadedDetails.servings}}
</p>
<p>
  <b>Cuisine: </b>{{loadedDetails.cuisines}} &nbsp;&nbsp;
  <b>Dish Type: </b>{{loadedDetails.dishTypes}}
</p>
<p><b>Summary: </b> {{loadedDetails.summary}}</p>
<p><img src="{{loadedDetails.image}}" height="200" width="200"></p>

<p> <a href="{{loadedDetails.sourceUrl}}" target="_blank"> Click Here for Source </a></p>

<h2>
  <u><b>Ingredients</b></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="loadIngredients()">Add Ingredients To Shopping List</button>
</h2>

<app-ingredients *ngFor="let currIngredients of loadedDetails.extendedIngredients"
                 [id]=currIngredients.id
                 [aisle]=currIngredients.aisle
                 [name]=currIngredients.name
                 [amount]=currIngredients.amount
                 [unit]=currIngredients.unit>

</app-ingredients>
<button class="btn btn-primary" routerLink="/search-recipes"> Back to Search</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" routerLink="/shopping-list"> View Shopping List</button>
