
<h1 class="header"><b>Recipe Details</b></h1>

<h3>Title: {{loadedDetails.title}}</h3>
<div>
  <b>Ready in Minutes: </b> {{loadedDetails.readyInMinutes}} &nbsp;&nbsp;&nbsp;&nbsp;
  <b>Servings: </b>{{loadedDetails.servings}} &nbsp;&nbsp;&nbsp;&nbsp;

</div>
<p>
  <b>Cuisine: </b>{{loadedDetails.cuisines}} &nbsp;&nbsp;
  <b>Dish Type: </b>{{loadedDetails.dishTypes}}
</p>
<h5> Summary: </h5>
<p [innerHtml]="loadedDetails.summary"></p>
<p><img src="{{loadedDetails.image}}" height="200" width="200"></p>

<p> <a href="{{loadedDetails.sourceUrl}}" target="_blank"> Click Here for Source </a></p>

<h2>
  <u><b>Ingredients</b></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button *ngIf="!currentUser" class="btn btn-primary" routerLink="/login" >Login First To Add Ingredients To Shopping List</button>
  <button *ngIf="currentUser" class="btn btn-primary" (click)="loadIngredients()">Add Ingredients To Shopping List</button>
</h2>

<app-ingredients *ngFor="let currIngredients of loadedDetails.extendedIngredients"
                 [id]=currIngredients.id
                 [aisle]=currIngredients.aisle
                 [name]=currIngredients.name
                 [amount]=currIngredients.amount
                 [unit]=currIngredients.unit>

</app-ingredients>
<button class="btn btn-primary" routerLink="/search-recipes"> Back to Search</button>&nbsp;&nbsp;&nbsp;
<button *ngIf="currentUser" class="btn btn-primary" routerLink="/shopping-list"> View Shopping List</button>
