
<div class="ui raised segment">
  <h2 class="ui header">
    Login
  </h2>
  <img src="assets/dish2.png" class="imgs">
  <br /><br />
  <form [formGroup]="loginUserForm"
        (ngSubmit)="onSubmit(loginUserForm.value)"
        class="ui form">
    <div class="field">
      <label class="label" for="email">
        Email: &nbsp;
      </label>
      <input type="text"
             id="email"
             placeholder="email"
             formControlName="email" />
      &nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div>
  <br />
  <br />
  <p class="label">
    If your are a new user 

    <button class="btn btn-primary" routerLink="/register"> Click Here to Register </button>
  </p>
</div>
<br />
<!--button class="btn btn-primary" (click)="logOut()"> Log Out </button-->
