<div *ngIf="currentUser != null || currentUser != undefined">
  <h2>Welcome to your favorites {{currentUser.firstName}}!</h2>

  <div class="d-flex flex-row flex-wrap">

    <app-recipe-list *ngFor =" let favorite of favorites"

                     [title]=favorite.title
                     [id]=favorite.recipeID
                     [image]=favorite.image>

    </app-recipe-list>
  </div>
  </div>
<!--div *ngIf="currentUser != null || currentUser != undefined">
  <h2>Welcome to your favorites {{currentUser.firstName}}!</h2>
  <div *ngIf="favorites">
    <div *ngFor="let favorite of favorites">
      <h3>Title: {{favorite.title}}</h3>
      <br />
      <h3>Image: {{favorite.image}}</h3>
      <br />
      <h3>Favorite ID: {{favorite.favoriteID}} </h3>
      <br />
      <h3>Recipe ID: {{favorite.recipeID}}</h3>
      <br />
      <h3>User ID: {{favorite.userID}}</h3>
      <br />
      <br />
    </div>

  </div>
</div-->
<div *ngIf="currentUser == null || favorites == null">
  <h3>
    You have no favorites, look around for something good slacker.
  </h3>
</div>
