
<!DOCTYPE html>
<html>
<body>

  <h2><u><b>Search Recipes</b></u></h2>
  <br />

  <form action="/action_page.php">
    <b>Cuisine:</b>&nbsp;&nbsp;
    <input type="radio" [(ngModel)]="cuisine" name="cuisine" value="Mexican">
    <label for="Mexican">Mexican</label>&nbsp;&nbsp;
    <input type="radio" [(ngModel)]="cuisine" name="cuisine" value="Chinese">
    <label for="Chinese">Chinise</label>&nbsp;&nbsp;
    <input type="radio" [(ngModel)]="cuisine" name="cuisine" value="Italian">
    <label for="Italian">Italian</label>

    <br>


  </form>


  <label for="myTypes">Word Search </label>
  <input [(ngModel)]="myTypes">


  <br />
  <script>console.log("hey");</script>
  <button (click)=" getListwithFilter(myTypes)">Get Recipe with Filter</button>
  &nbsp; &nbsp;
  <button (click)="getRecipeList()">Get Recipe List</button>
  &nbsp; &nbsp;
  <button (click)="clearRecipeList()">Clear Recipe List</button>

  <!--input id="search"><button onclick="getRecipe()">Search</button-->
  <!--button onclick="getRecipe(document.getElementByID('search').value)">Search</!--button-->
  <app-recipe-list *ngFor="let currLoadedRecipe of loadedRecipes.results"
                   [title]=currLoadedRecipe.title
                   [id]=currLoadedRecipe.id>
  </app-recipe-list>



</body>
</html>
